<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head')%>
    <title><%= title %></title>
</head>
<body>

    <%- include('partials/navigation')%>

    <!-- CONTENIDO PRINCIPAL -->
    <header class="container bg-dark vh-100 d-flex justify-content-center align-items-center">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <img src="/img/logo.png" class="w-1" alt="">
            <h1 class="display-1 my-4 text-uppercase fw-bold text-white">NodeJs</h1>
            <a href="/about" class="btn btn-primary w-10">About</a>
        </div>
    </header>
    
    <%- include('partials/footer')%>
</body>
</html>